<link  rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- <meta http-equiv="refresh" content="5"> -->
<script src="/javascripts/dashboard.js"></script>
<script src="/javascripts/jquery.js" charset="utf-8"></script>

<div class="movap-titulo">
  <h4 align="left">ACOMPANHAMENTO ONLINE</h4>
  <hr>
</div>


<div class="col">
    <div class="row">
        <div class="col-5">
            <br>
            <div class="row">
                  <div class="input-group">
                        <input  id="myInput" class="form-control" type="text" onkeyup="search()" placeholder="Pesquisar" aria-label="Search">
                         <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
            </div>
            <div class="row" >
              <table id="myTable" class="table table-bordered table-responsive-sm mt-3 border-dark border">
                <tbody id="table-body">
                    {{#each stations}}
                    <tr>
            {{#compare status "Trabalho" operator='=='}}
                {{#compare ../dia 0 operator='=='}}
                {{#if weekday.sunday}}

                    {{#compare inputTime.inputHour outputTime.outputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='<'}}

                            {{#compare outputTime.outputHour ../h operator='>'}}                            
                                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}

                                {{#compare outputTime.outputHour ../h operator='=='}}
                                    {{#compare outputTime.outputMin ../m operator='>='}}
                                    
                                        <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                        <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                                    {{/compare}}
                                {{/compare}}
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputHour ../m operator='<'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                    {{/compare}}

<!-- ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-->

                    {{#compare outputTime.outputHour inputTime.inputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='>'}}
                            <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                            <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputMin ../m operator='<='}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='=='}}
                            {{#compare outputTime.outputMin ../m operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                            
                    {{/compare}}
                    {{/if}}
                    {{/compare}}
<!---->

{{#compare ../dia 1 operator='=='}}
                {{#if weekday.monday}}

                    {{#compare inputTime.inputHour outputTime.outputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='<'}}

                            {{#compare outputTime.outputHour ../h operator='>'}}                            
                                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}

                                {{#compare outputTime.outputHour ../h operator='=='}}
                                    {{#compare outputTime.outputMin ../m operator='>='}}
                                    
                                        <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                        <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                                    {{/compare}}
                                {{/compare}}
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputHour ../m operator='<'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                    {{/compare}}

<!-- ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-->

                    {{#compare outputTime.outputHour inputTime.inputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='>'}}
                            <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                            <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputMin ../m operator='<='}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='=='}}
                            {{#compare outputTime.outputMin ../m operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                            
                    {{/compare}}
                    {{/if}}
                    {{/compare}}
<!---->
{{#compare ../dia 3 operator='=='}}
                {{#if weekday.tuesday}}

                    {{#compare inputTime.inputHour outputTime.outputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='<'}}

                            {{#compare outputTime.outputHour ../h operator='>'}}                            
                                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}

                                {{#compare outputTime.outputHour ../h operator='=='}}
                                    {{#compare outputTime.outputMin ../m operator='>='}}
                                    
                                        <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                        <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                                    {{/compare}}
                                {{/compare}}
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputHour ../m operator='<'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                    {{/compare}}

<!-- ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-->

                    {{#compare outputTime.outputHour inputTime.inputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='>'}}
                            <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                            <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputMin ../m operator='<='}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='=='}}
                            {{#compare outputTime.outputMin ../m operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                            
                    {{/compare}}
                    {{/if}}
                    {{/compare}}
<!---->
{{#compare ../dia 4 operator='=='}}
                {{#if weekday.thursday}}

                    {{#compare inputTime.inputHour outputTime.outputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='<'}}

                            {{#compare outputTime.outputHour ../h operator='>'}}                            
                                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}

                                {{#compare outputTime.outputHour ../h operator='=='}}
                                    {{#compare outputTime.outputMin ../m operator='>='}}
                                    
                                        <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                        <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                                    {{/compare}}
                                {{/compare}}
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputHour ../m operator='<'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                    {{/compare}}

<!-- ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-->

                    {{#compare outputTime.outputHour inputTime.inputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='>'}}
                            <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                            <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputMin ../m operator='<='}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='=='}}
                            {{#compare outputTime.outputMin ../m operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                            
                    {{/compare}}
                    {{/if}}
                    {{/compare}}
<!---->
{{#compare ../dia 5 operator='=='}}
                {{#if weekday.friday}}

                    {{#compare inputTime.inputHour outputTime.outputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='<'}}

                            {{#compare outputTime.outputHour ../h operator='>'}}                            
                                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}

                                {{#compare outputTime.outputHour ../h operator='=='}}
                                    {{#compare outputTime.outputMin ../m operator='>='}}
                                    
                                        <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                        <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                                    {{/compare}}
                                {{/compare}}
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputHour ../m operator='<'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                    {{/compare}}

<!-- ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-->

                    {{#compare outputTime.outputHour inputTime.inputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='>'}}
                            <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                            <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputMin ../m operator='<='}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='=='}}
                            {{#compare outputTime.outputMin ../m operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                            
                    {{/compare}}
                    {{/if}}
                    {{/compare}}
<!---->





                {{#compare ../dia 6 operator='=='}}
                {{#if weekday.saturday}}

                    {{#compare inputTime.inputHour outputTime.outputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='<'}}

                            {{#compare outputTime.outputHour ../h operator='>'}}                            
                                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}

                                {{#compare outputTime.outputHour ../h operator='=='}}
                                    {{#compare outputTime.outputMin ../m operator='>='}}
                                    
                                        <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                        <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                                    {{/compare}}
                                {{/compare}}
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputHour ../m operator='<'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                    {{/compare}}

<!-- ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-->

                    {{#compare outputTime.outputHour inputTime.inputHour operator='<'}}

                        {{#compare inputTime.inputHour ../h operator='>'}}
                            <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                            <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                        {{/compare}}

                        {{#compare inputTime.inputHour ../h operator='=='}}
                            {{#compare inputTime.inputMin ../m operator='<='}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}

                        {{#compare outputTime.outputHour ../h operator='=='}}
                            {{#compare outputTime.outputMin ../m operator='>'}}
                                <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                                <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                            {{/compare}}
                        {{/compare}}
                            
                    {{/compare}}
                    {{/if}}
                    {{/compare}}
                    {{/compare}}

                    </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
         </div>
   </div>
</div>
<br><br>
<br>
