<div class="movap-titulo">
  <h4 align="left">CADASTRO DE ESTAÇÕES DE APARELHOS</h4>
  <hr>
</div>


<div class="col">
    <div class="row">
        <div class="col-lg-8">
            <form action="/station/{{station.id}}" class="col-lg-10" method="post">
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Código da Estação</p>
                    <input type="text" class="form-control" id="intentificação" name="station[codeStation]" value={{station.codeStation}} readonly>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Código do Aparelho</p>
                    <input type="number" class="form-control" id="intentificação" name="station[deviceNumber]" value={{station.idesp}}>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Nome do Colaborador</p>
                    <input type="text" class="form-control" id="intentificação" name="station[nameEmployed]" value={{station.nameEmployed}}>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Tempo de tolerância para uso do aparelho</p>
                    <input type="time" class="form-control" id="intentificação" name="station[toleranceTime]" value={{station.toleranceTime}}>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Status</p>
                    <select class="form-control" id="exampleFormControlSelect1" name="station[status]" value={{station.status}}>
                    <option>Trabalho</option>
                    <option>Férias</option>
                    <option>Atestado</option>
                    <option>Falta</option>
                    </select>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Horário de entrada</p>
                    <input type="time" class="form-control" id="intentificação" name="station[inputHour]" value={{station.inputHour}}>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes" align="left">Horário de saída</p>
                    <input type="time" class="form-control" id="intentificação" name="station[outputHour]" value={{station.outputHour}}>
                </div>
                <div class="form-group col-lg-8">
                    <p class="movap-nomes pb-2" align="left">Dias da Semana</p>
                    <input type="checkbox" name='station[weekday][monday]' value={{station.weekday.monday}}>Segunda</input>
                    <input type="checkbox" name='station[weekday][tuesday]' value={{station.weekday.tuesday}}>Terça</input>
                    <input type="checkbox" name='station[weekday][wednesday]' value={{station.weekday.wednesday}}>Quarta</input>
                    <input type="checkbox" name='station[weekday][thursday]' value={{station.weekday.thursday}}>Quinta</input>
                    <input type="checkbox" name='station[weekday][frinday]' value={{station.weekday.friday}}>Sexta</input>
                    <input type="checkbox" name='station[weekday][saturday]' value={{station.weekday.saturday}}>Sábado</input>
                    <input type="checkbox" name='station[weekday][sunday]' value={{station.weekday.sunday}}>Domingo</input>
                </div>
                
                <div class="d-flex  movap">
                    <button type="submit"  class="mr-auto p-2 btn btn-primary" >CONFIRMAR</button>
                </form>  
                    <form action="/station/delete/{{station.id}}" method="POST">
                        <button type="submit"  class="mr-auto btn btn-primary" onclick="return confirm('Você têm certeza que deseja excluir essa ESTAÇÃO?')" id="excluir" >EXCLUIR</button>
                    </form>
                    <div class="p-2"></div>
                </div>
            
        </div>
    </div>
</div>
<br><br><br><br><br><br>


