<div class="movap-titulo">
  <h4 align="left">LISTA DE ATENDENTES</h4>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/javascripts/dashboard.js"></script>
  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  </meta>
  <hr>
</div>
<div class="col">
  <div class="row">
    <div class="col-5">
      <div class="bg clearfix col-11">
        
        <button type="button" class="btn btn-primary btn-info btn-secondary " aria-haspopup="true"
          aria-expanded="false" onclick="location.href='/station/signup'">NOVO</button>
      </div>
      <table class="table table-bordered mt-3">
        <tbody id="myTable" class="element">
          <thead bgcolor= "#17a2b8">
      <div class="row">
        <div class="input-group">
          <input id="myInput" class="form-control" type="text" onkeyup="searchW();" placeholder="Pesquisar" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="bg clearfix col-11 btn_new">
          <button type="button" class="btn btn-primary btn-info btn-secondary " aria-haspopup="true" aria-expanded="false" /><a style="color:#ffffff" href="/station/signup">NOVO</a></button>
        </div>
        <table class="table table-bordered mt-3">
          <tbody id="myTable" class="element">
            <thead class="thead-secundary">
              <tr>
                <th scope="row" class="font-book text-center ">Matrícula</th>
                <th scope="row" class="font-book text-center ">Aparelho</th>
                <th scope="row" class="font-book text-center ">Nome</th>
                <th scope="row" class="font-book text-center ">Status</th>
                <th scope="row" class="font-book text-center ">Editar</th>
                <th scope="row" class="font-book text-center ">Perfil</th>
              </tr>
            </thead>
            {{#each stations}}
            <tr>
              <th scope="row" class="font-book text-center"><font color="white">Matrícula</font></th>
              <th scope="row" class="font-book text-center"><font color="white">Nome</font></th>
              <th scope="row" class="font-book text-center"><font color="white">Status</font></th>
              <th scope="row" class="font-book text-center"><font color="white">Editar</font></th>
              <th scope="row" class="font-book text-center"><font color="white">Perfil</font></th>
            </tr>
          </thead>
          {{#each stations}}
          <tr>
            <th scope="row" class="font-book text-left ">{{idesp}}</th>
            <th scope="row" class="font-book text-left ">{{nameEmployed}}</th>
            <th id="Atualizar" scope="row" class="font-book text-center">{{status}}</th>
            <th width="50" scope="row" style="cursor: pointer;" class="font-book text-center" onclick="location.href='/station/edit/{{id}}'"><b>...</b></th>
            <th style="cursor: pointer;" onclick="location.href='/station/logUse/{{id}}'"><img src="https://image.flaticon.com/icons/png/512/68/68917.png" width=20 height=20></th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <script type="text/javascript" src="/javascripts/edit.js">  </script>